<!-- Aarti J-->
<div class="d-flex flex-wrap text-center overflow-scroll">
    <% for (course of courses){%>
        <div class="p-3 m-3 border border-primary bg-light">
            <a href="/schedule/remove/<%= course._id %>">X</a>
            <%= course.code%>
            <%= course['subject'] %>
            <%= course.coursenum %>
            <%= course.name %>
            <%= course.term %>
            <%= course.enrolled%>
            <%= course.status_text%>
        </div>
    <% } %>
</div>
<!--
    <pre>
        <%= JSON.stringify(courses,null,5) %>
    </pre>
-->